article {
    display: inline;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 0.9em;
    list-style: square;
}


.arti-a {
    width: 20%;
}

.arti-a img{
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ff9966;
    border-radius: 50%;
}


.arti-b { 
    width: 20%;
}


.arti-b img{
    margin-top: 5px;
    margin-bottom: 10px;
    height : 160px;
    border: 1px solid #ff9966;
    border-radius: 50%;

}

.arti-c {
    margin-top: 18px;
    margin-bottom: 10px;
    width : 20%;
}

.sec-a {
    width: 20%;
    float: left;
    text-align:left
    
}

.sec-a li {
    text-align:justify;
    padding-left: 1.5em;
    text-indent: 0.2em;
    list-style: decimal;
}

.sec-b{
    width: 20%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.sec-b a:hover {
    background-color: floralwhite;
    border-radius: 99%;
    opacity: 0.7;
    transition: 0.8s;
}