@import "./style.css";

article {
    display: inline;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 0.9em;
    list-style: square;
}

article b {
    font-size: 2em;
}

section b {
    font-size: 2em;
}

.arti-a li {
    font-size: 1.5em;
}

.arti-a img{
    margin-top: 5px;
    margin-bottom: 10px;
    height : 30em;
    border: 1px solid; 
    border-radius: 50%;
}

.arti-b li {
    font-size: 1.5em;
}

.arti-b img{
    margin-top: 5px;
    margin-bottom: 10px;
    height : 30em;
    border: 1px solid;
    border-radius: 50%;

}

.arti-c li {
    font-size: 1.5em;
}
.arti-c {
    margin-top: 18px;
    margin-bottom: 10px;
}

.sec-a {
    float: left;
    text-align:left
    
}

.sec-a li {
    font-size: 1.5em;
    text-align:justify;
    padding-left: 1.5em;
    text-indent: 0.2em;
    list-style: decimal;
}

.sec-b{
    list-style: none;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    transition: 1s ease;
}

.sec-b li {
    font-size: 1.5em;
}

.sec-b a {
    transition: 1s ease;    
}

.sec-b a:hover {
    transition: 0.7s ease;
    font-weight: 600;
    letter-spacing: 0.3em;
}