@import "reset.css";

body {
    height: 50px;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%);
}

form {
    margin-top: 25%;
    margin-bottom: 25%;
}