@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


* {
    font-family: 'Poppins','sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1;
}

body {
    min-height: 100vh;
    background : #0c192c;
}


/* background dots */
.back-dots {
    z-index: -1;
    position:fixed;
    width : 100%;
    height:100vh;
    overflow:hidden;
}

.bubbles {
    position : relative;
    display: flex;
}

.bubbles span {
    position:relative;
    width: 30px;
    height : 30px;
    background:#4fc3dc;
    margin : 0 4px;
    border-radius: 50%;
    box-shadow : 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration : calc(125s/var(--i));
}
.bubbles span:nth-child(even) {
    background:#ff2d75;
    box-shadow : 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}

@keyframes animate
{
    0%{
        transform : translateY(100vh) scale(0);
    }
    100%{
        transform : translateY(-10vh) scale(1);
    }
}



/* main UI */

        p {
          line-height: 1.5em;
        }
  
        ul {
          margin:15px 0px 15px 0px;
          list-style: decimal;
        }


        .login {
          margin: 0;
          width: 320px;
          position: absolute;
          top : 50%;
          left : 50%;
          transform : translate(-50%, -50%) ;
        }

        .login form {
          margin: 0;
          padding: 25px;
          width: 100%;
          border-radius: 5px;
          background: #282e33;
          border-top: 3px solid #434a52;
          border-bottom: 3px solid #434a52;
        }

        .login form span {
          background-color: #363b41;
          border-radius: 3px 0px 0px 3px;
          border-right: 3px solid #434a52;
          color: #606468;
          display: block;
          float: left;
          line-height: 50px;
          text-align: center;
          width: 50px;
          height: 50px;
        }

        .login form input[type="email"] {
          background-color: #3b4148;
          border-radius: 0px 3px 3px 0px;
          color: #a9a9a9;
          margin-bottom: 1em;
          padding: 0 16px;
          width: 100%;
          height: 50px;
        }

        .login form input[type="password"] {
          background-color: #3b4148;
          border-radius: 0px 3px 3px 0px;
          color: #a9a9a9;
          margin-bottom: 1em;
          padding: 0 16px;
          width: 100%;
          height: 50px;
        }

        .login form input[type="submit"] {
          background: #09813d;
          border: 0;
          width: 100%;
          height: 40px;
          border-radius: 3px;
          color: white;
          cursor: pointer;
          transition: background 0.3s ease-in-out;
        }
        #login form input[type="submit"]:hover {
          background: #09813d;
        }

        #login_btn {
          font-weight: 600;
          transition: 1s ease;
        }

        #rgstr_btn {
          font-weight: 600;
          transition: 1s ease;
        }

        #login_btn:hover {
          background: #0c192c;
          color: #fff;
          letter-spacing: 2px;
          transition: 0.7s ease;
        }

         #rgstr_btn:hover{
          background: #0c192c;
          color: #fff;
          letter-spacing: 2px;
          transition: 0.7s ease;
         }