@import "article.css";
@import "icon.css";
@import "reset.css";
@import "splash.css";
@import "background.css";

/* a태그 전체 스타일 제어 */
a { 
    text-decoration: none;
    color: #D8E8F4;
}

/* 투표창 스타일 */
.vote {
    cursor: pointer;
    opacity: 1;
    z-index: 0;
    display: inline;
}

nav {
    position: static;
    display: inline;
    text-align: center;
    justify-content: space-evenly;
}


hr {
    margin: 10px;
}

table, th, td {
    border: 1px;
}

td {
    font-weight: 500;
}

footer {
    font-family: "Helvetica";
    justify-content: center;
    text-align: center;
    width: 100vw;
    margin-bottom: 5em;
}

footer p {
  margin: 0 0 15px 0;
}

.article-box {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 500vw;
    transition: transform 0.5s;
}

.inner{
    width: 100vw;
    float: left;
}


/* 캐러셀 버튼 */
.btnAlign {
    cursor: pointer;
    align-items: center;
    text-align: center;
    margin : 2em;
}

.btnAlign button {
    cursor: pointer;
    border-radius: 50%;
    border: 0;
    margin: 0.5em;
}

.btnAlign button:hover {
    opacity: 1;
    transition: 0.6s;
    border-radius: 50%;
    animation: heartBeat 0.7s linear infinite;

}

.Fs {
    background-image: radial-gradient(circle, #e4e79d, #e3e287, #e3dc71, #e3d659, #e5cf3f);
    font-weight: 600;
}

fieldset {
    width: 10vw;
    height: 5vh;
    display: in;
}

fieldset div {
  display: flex;
  float: auto;
}

fieldset .input-hover:hover {
    background-color: white;
    border-radius: 99%;
    opacity: 0.7;
    transition: 0.8s;
    cursor: pointer;
}


@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 1;
  }
  to {
    transform: none;
    opacity: 0;
  }
}

@keyframes heartBeat {
  0% {
    transform: none;
  }
  25%{
    transform : scale(1.2);
  }
  50% {
    transform: scale(1.5);
  }
  25%{
    transform : scale(1.2);
  }
  100% {
    transform: none;
  }
}

